
/*design css*/

html, body{ height:100%;}
.body-back{ background:url(../img/bac.jpg) no-repeat center top; background-attachment:fixed !important; width:100%;background-size: cover; height:100%;}
.body-back>div{transform:translate(-50%,0%); position:absolute; top:0%; left:50%; height:100%;}
.body-back>div h1{ margin-top:10px;}
.register-form{background:rgba(0,0,0,0.6); border-radius:10px; padding:30px; width:600px;transform:translate(-50%,0%); position:absolute; top:110px; left:50%;}

.register-form h2{ color:#ffc000; margin-bottom:20px;}
.register-form h2:after{ display:block; content:""; width:64%; height:2px; background:#ffc000; margin-top:-8px;margin-left: 194px; }
.register-form label{ color:#FFF; margin-top:5px; font-size:18px;}
.register-form .btn{ color:#503500; padding:8px 40px; margin-right:10px; margin-top:20px; border-radius:20px; background:#ffc107; float:left; cursor:pointer;}
.register-form .btn:hover{ background:#ac4320; color:#FFF; border-color:#ac4320;}
.register-form [type="submit"]{-webkit-appearance: none !important;}
.img-responsive{ max-width:100%; height:auto;}
.register-form .form-group .form-control{ background:rgba(255,255,255,0.6);}
.register-form .form-group .form-control:focus{background:rgba(255,255,255,1); box-shadow:0px 0px 6px #2f2f2f;}

@media(max-width:768px){
	.register-form{ width:468px;top:90px;}
	.register-form .btn{ padding:8px 20px; margin-right:10px; margin-top:20px;}
	.register-form h2:after{width:53%; }
	}
	
@media(max-width:468px){
	.register-form{ width:300px;top:80px;padding-left:20px; padding-right:20px; margin-bottom:20px;}
	.register-form .btn{ padding:8px 20px; margin-right:10px; margin-top:20px;}
	.register-form h2:after{width:27%; }
	}	
